@import './base.css';

a,
.green {
  text-decoration: none;
  color: rgb(46, 59, 82);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
